html, body, table, form {
	padding: 0em;
	margin: 0em;
}

body {
	font-family: sans-serif;
	font-size: 10pt;
	color: #fff;
	background: #000;
	padding: 7px;
}

a {
	color: #6bf;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

table {
      border-collapse: collapse;
}

table#header {
	width: 100%;
	margin-bottom: 1em;
}

table#header td.logo {
	width: 100px;
}

table#header td.main {
	text-align: left;
	font-size: 250%;
	padding-left: 10px;
	white-space: nowrap;
}

table#header td.main a {
	color: #fff;
}

table#header td.form {
	text-align: left;
	vertical-align: bottom;
	padding-right: 1em;
	padding-bottom: 2px;
	white-space: nowrap;
}

table#header td.form form,
table#header td.form input,
table#header td.form select {
	font-size: 90%;
}

table#header td.sub {
	color: #777;
	// border-top: solid 1px white;
	padding-left: 10px;
}

table.tabs {
	border-bottom: solid 3px #080;
	border-collapse: collapse;
	margin-top: 2em;
	margin-bottom: 0px;
	width: 100%;
}

table.tabs td {
	padding: 0px 1em;
	vertical-align: bottom;
}

table.tabs td a {
	padding: 2px 0.75em;
	color: #080;
	font-size: 110%;
	font-weight: bold;
}

table.tabs td a.active {
	color: #fff;
	background-color: #080;
	font-weight: bold;
}

table.tabs td.form {
	text-align: right;
}

table.tabs td.form form {
	padding-bottom: 2px;
	font-size: 90%;
	white-space: nowrap;
}

table.tabs td.form input,
table.tabs td.form select {
	font-size: 90%;
}

div.path {
	margin: 0px;
	padding: 5px 2em 2px 2em;
	color: #fff;
	background-color: #146;
}

div.path a {
	padding: 0 0.5em 0 0.5em;
}

div.content {
	margin: 0px;
	padding: 1em;
	//border-bottom: solid 3px #080;
}

table.list {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

table.list tr {
	background: #000;
}

table.list tr.logheader {
	background: #eee;
}

table.list tr:hover {
	background: #555;
}

table.list tr.nohover:hover {
	background: #000;
}

table.list th {
	font-weight: bold;
	color: #fff;
	/*border-top: dashed 1px #888;
	border-bottom: dashed 1px #888;*/

	padding: 0.1em 0.5em 0.05em 0.5em;
	vertical-align: baseline;
}
table.list th a {
	color: #fff;
}

table.list td {
	border: none;
	padding: 0.1em 0.5em 0.1em 0.5em;
}

table.list td.logsubject {
	font-family: monospace;
	font-weight: bold;
}

table.list td.logmsg {
	font-family: monospace;
	white-space: pre;
	padding: 1em 0.5em 2em 0.5em;
}

table.list td.lognotes-label {
	text-align:right;
	vertical-align:top;
}

table.list td.lognotes {
	font-family: monospace;
	white-space: pre;
	padding: 0em 0.5em 2em 0.5em;
}

table.list td a {
	color: #fff;
}

table.list td a.ls-dir {
	font-weight: bold;
	color: #fff;
}

table.list td a:hover {
	color: #fff;
}

img {
	border: none;
}

input#switch-btn {
	margin: 2px 0px 0px 0px;
}

td#sidebar input.txt {
	width: 100%;
	margin: 2px 0px 0px 0px;
}

table#grid {
	margin: 0px;
}

td#content {
	vertical-align: top;
	padding: 1em 2em 1em 1em;
	border: none;
}

div#summary {
	vertical-align: top;
	margin-bottom: 1em;
}

table#downloads {
	float: right;
	border-collapse: collapse;
	border: solid 1px #777;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

table#downloads th {
	background-color: #ccc;
}

div#blob {
	border: solid 1px #fff;
}

div.error {
	color: #f00;
	font-weight: bold;
	margin: 1em 2em;
}

a.ls-blob, a.ls-dir, a.ls-mod {
	font-family: monospace;
}

td.ls-size {
	text-align: right;
	font-family: monospace;
	width: 10em;
}

td.ls-mode {
	font-family: monospace;
	width: 10em;
}

table.blob {
	margin-top: 0.5em;
	border-top: solid 1px #fff;
}

table.blob td.lines {
	margin: 0; padding: 0 0 0 0.5em;
	vertical-align: top;
	color: #fff;
}

table.blob td.linenumbers {
	margin: 0; padding: 0 0.5em 0 0.5em;
	vertical-align: top;
	text-align: right;
	border-right: 1px solid gray;
}

table.blob pre {
	padding: 0; margin: 0;
}

table.blob a.no {
	color: #888;
	text-align: right;
	text-decoration: none;
}

table.blob a.no a:hover {
	color: #fff;
}

table.bin-blob {
	margin-top: 0.5em;
	border: solid 1px #fff;
}

table.bin-blob th {
	font-family: monospace;
	white-space: pre;
	border: solid 1px #777;
	padding: 0.5em 1em;
}

table.bin-blob td {
	font-family: monospace;
	white-space: pre;
	border-left: solid 1px #777;
	padding: 0em 1em;
}

table.nowrap td {
	white-space: nowrap;
}

table.commit-info {
	border-collapse: collapse;
	margin-top: 1.5em;
}

table.commit-info th {
	text-align: left;
	font-weight: normal;
	padding: 0.1em 1em 0.1em 0.1em;
	vertical-align: top;
}

table.commit-info td {
	font-weight: normal;
	padding: 0.1em 1em 0.1em 0.1em;
}

div.commit-subject {
	font-weight: bold;
	font-size: 125%;
	margin: 1.5em 0em 0.5em 0em;
	padding: 0em;
}

div.commit-msg {
	white-space: pre;
	font-family: monospace;
}

div.notes-header {
	font-weight: bold;
	padding-top: 1.5em;
}

div.notes {
	white-space: pre;
	font-family: monospace;
	border: solid 1px #ee9;
	background-color: #ffd;
	padding: 0.3em 2em 0.3em 1em;
	float: left;
}

div.notes-footer {
	clear: left;
}

div.diffstat-header {
	font-weight: bold;
	padding-top: 1.5em;
}

table.diffstat {
	border-collapse: collapse;
	border: solid 1px #555;
	background-color: #555;
}

table.diffstat th {
	font-weight: normal;
	text-align: left;
	text-decoration: underline;
	padding: 0.1em 1em 0.1em 0.1em;
	font-size: 100%;
}

table.diffstat td {
	padding: 0.2em 0.2em 0.1em 0.1em;
	font-size: 100%;
	border: none;
}

table.diffstat td.mode {
	white-space: nowrap;
}

table.diffstat td span.modechange {
	padding-left: 1em;
	color: #f00;
}

table.diffstat td.add a {
	color: #0f0;
}

table.diffstat td.del a {
	color: #f00;
}

table.diffstat td.upd a {
/*	color: #00f; */
}

table.diffstat td.graph {
	width: 500px;
	vertical-align: middle;
}

table.diffstat td.graph table {
	border: none;
}

table.diffstat td.graph td {
	padding: 0px;
	border: 0px;
	height: 7pt;
}

table.diffstat td.graph td.add {
	background-color: #5c5;
}

table.diffstat td.graph td.rem {
	background-color: #c55;
}

div.diffstat-summary {
	color: #888;
	padding-top: 0.5em;
}

table.diff {
	width: 100%;
}

table.diff td {
	font-family: monospace;
	white-space: pre;
}

table.diff td div.head {
	font-weight: bold;
	margin-top: 1em;
	color: #fff;
}

table.diff td div.hunk {
	color: #6CC;
}

table.diff td div.add {
	color: #4f4;
}

table.diff td div.del {
	color: #f66;
}

.sha1 {
	font-family: monospace;
	font-size: 90%;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

table.list td.reposection {
	font-weight: bold;
	color: #0f0;
	padding-top: 0.5em;
}

a.button {
	font-size: 80%;
	padding: 0em 0.5em;
}

a.primary {
	font-size: 100%;
}

a.secondary {
	font-size: 90%;
}

td.toplevel-repo {

}

table.list td.sublevel-repo {
	padding-left: 2.5em;
}

div.pager {
	text-align: center;
	margin: 1em 0em 0em 0em;
}

div.pager a {
	color: #777;
	margin: 0em 0.5em;
}

span.age-mins {
	font-weight: bold;
	color: #0c0;
}

span.age-hours {
	color: #0c0;
}

span.age-days {
	color: #080;
}

span.age-weeks {
	color: #bbb;
}

span.age-months {
	color: #888;
}

span.age-years {
	color: #666;
}
div.footer {
	margin-top: 0.5em;
	text-align: center;
	font-size: 80%;
	color: #ccc;
}
table.list td a.branch-deco {
	color: #0c0;
	background: #000;
	// font-weight: bold;
	border: 1px solid #0c0;
	font-weight: normal;
}
a.branch-deco {
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	// background-color: #0f0;
	border: solid 1px #0f0;
	color: #0f0;
	font-weight: normal;
}
table.list td a.tag-deco {
	color: #dd0;
}
a.tag-deco {
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	background-color: #000;
	border: solid 1px #dd0;
	font-weight: normal;
	color: #dd0;
}
table.list td a.remote-deco {
	color: #000;
}
a.remote-deco {
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	background-color: #00f;
	border: solid 1px #00f;
}
table.list td a.deco {
	color: #c00;
	background: #000;
}
a.deco {
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	color: #f00;
	background-color: #000;
	border: solid 1px #c00;
	font-weight: normal;
}

div.commit-subject a.branch-deco,
div.commit-subject a.tag-deco,
div.commit-subject a.remote-deco,
div.commit-subject a.deco {
	margin-left: 1em;
	font-size: 75%;
}

table.stats {
	border: solid 1px white;
	border-collapse: collapse;
}

table.stats th {
	text-align: left;
	padding: 1px 0.5em;
	background-color: #555;
	border: solid 1px white;
}

table.stats td {
	text-align: right;
	padding: 1px 0.5em;
	border: solid 1px white;
}

table.stats td.total {
	font-weight: bold;
	text-align: left;
}

table.stats td.sum {
	color: #c00;
	font-weight: bold;
/*	background-color: #eee; */
}

table.stats td.left {
	text-align: left;
}

table.vgraph {
	border-collapse: separate;
	border: solid 1px white;
	height: 200px;
}

table.vgraph th {
	background-color: #eee;
	font-weight: bold;
	border: solid 1px white;
	padding: 1px 0.5em;
}

table.vgraph td {
	vertical-align: bottom;
	padding: 0px 10px;
}

table.vgraph div.bar {
	background-color: #eee;
}

table.hgraph {
	border: solid 1px white;
	width: 800px;
}

table.hgraph th {
	background-color: #eee;
	font-weight: bold;
	border: solid 1px white;
	padding: 1px 0.5em;
}

table.hgraph td {
	vertical-align: center;
	padding: 2px 2px;
}

table.hgraph div.bar {
	background-color: #eee;
	height: 1em;
}

table.ssdiff {
	width: 100%;
}

table.ssdiff td {
	font-size: 75%;
	font-family: monospace;
	white-space: pre;
	padding: 1px 4px 1px 4px;
	border-left: solid 1px #aaa;
	border-right: solid 1px #aaa;
}

table.ssdiff td.add {
	color: #fff;
	background: #cfc;
	min-width: 50%;
}

table.ssdiff td.add_dark {
	color: #fff;
	background: #aca;
	min-width: 50%;
}

table.ssdiff span.add {
	background: #cfc;
	font-weight: bold;
}

table.ssdiff td.del {
	color: #fff;
	background: #fcc;
	min-width: 50%;
}

table.ssdiff td.del_dark {
	color: #fff;
	background: #caa;
	min-width: 50%;
}

table.ssdiff span.del {
	background: #fcc;
	font-weight: bold;
}

table.ssdiff td.changed {
	color: #fff;
	background: #ffc;
	min-width: 50%;
}

table.ssdiff td.changed_dark {
	color: #fff;
	background: #cca;
	min-width: 50%;
}

table.ssdiff td.lineno {
	color: #fff;
	background: #eee;
	text-align: right;
	width: 3em;
	min-width: 3em;
}

table.ssdiff td.hunk {
	color: #white;
	background: #ccf;
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
}

table.ssdiff td.head {
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
}

table.ssdiff td.head div.head {
	font-weight: bold;
	color: #fff;
}

table.ssdiff td.foot {
	border-top: solid 1px #aaa;
        border-left: none;
        border-right: none;
        border-bottom: none;
}

table.ssdiff td.space {
	border: none;
}

table.ssdiff td.space div {
	min-height: 3em;
}

div.cgit-panel {
	float: right;
}

div.month {
	border: 1px solid red;
	float: left;
	//max-width: 5em;
	// margin-right: 0.5em;
}

div.month h1 {
	font-size: 110%;
	// border: 1px solid red;
	text-align: center;
}

div.calendar {
	font-size: 110%;
	// border: 1px solid red;
}

div.month span {
	width: 1em;
	float: left;
	font-weight: bold;
	text-align: center;
}

span.c0 { color: #444; }
span.c1 { color: #060; }
span.c2 { color: #2a2; }
span.c3 { color: #4f4; }
span.c4 { color: #8f8; }
span.c5 { color: #f00; }

// span.b0 { background: yellow; }
// span.b1 { background: green;  }

// span.b0 { border: 1px solid yellow; }
// span.b1 { border: 1px solid green;  }

br {
	clear: both;
}

div.key {
	float: right;
	border: 1px solid #444;
	padding: 0.5em;
	margin-top: 2em;
}

.markdown-body {
	color: black;
	background: white;
}

